{% extends "layout.html" %}
{% block content %}
    
    <h1 class="col-md-12" style="margin:30px 0px">登録済みの部屋</h1>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">部屋名</th>
              <th scope="col">収容人数</th>
              <th scope="col">所有TEAM</th>
              <th scope="col">更新日</th>
              <th scope="col"></th>
            </tr>
        </thead>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>
                <!--TODO: [0]を用いた処理削除-->
                <td>{{ room.organizations_resources_ownership[0].organization_id}}</td>
                <td>{{ room.update_time }}</td>
                <td><a type="button" href="{{ url_for('rooms.delete_room', room_id = room.id) }}" class="btn btn-secondary">削除</a></td>
            </tr>
        {% endfor%}
    </table>

    <a type="button" class="btn btn-light col-md-12" href="{{ url_for('rooms.new_room') }}">部屋を追加</a>
{% endblock content %}
