{% extends "layout.html" %}
{% block content %}
    
    
    
    
    <h1 class="col-md-12" style="margin:30px 0px">登録済みの部屋</h1>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">部屋名</th>
              <th scope="col">収容人数</th>
              <th scope="col">更新日</th>
              <th scope="col"></th>
            </tr>
        </thead>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.update_time }}</td>
                <td><button type="button" class="btn">編集</button></td>
            </tr>
        {% endfor%}
    </table>

    <button type="button" class="btn btn-light col-md-12">部屋を追加</button>
{% endblock content %}
